@model DataLayer.Entities.Supplementary.Conversation
@using Core.Convertors;
@{
    List<string> readers = Model.ReadersList.ToList();
    readers = readers.Where(w => !string.IsNullOrEmpty(w)).ToList();
    List<string> receps = Model.RecepiesList.ToList();
    receps = receps.Where(w => !string.IsNullOrEmpty(w)).ToList();
    string vis = string.Empty;
    bool IsVis = true;
    if (Model.SenderNC != User.Identity.Name)
    {
        if (receps.Any(a => a.Substring(0, a.IndexOf("-")) == User.Identity.Name))
        {
            if (!readers.Any(a => a.Substring(0, a.IndexOf("-")) == User.Identity.Name))
            {
                vis = "hidden";
                IsVis = false;
            }
        }
    }
    string ZbgColor = string.Empty;
    if (Model.SenderNC == "0000000000")
    {
        ZbgColor = "bg-warning";
    }
    else
    {
        ZbgColor = "bg-info";
    }
}
<div class="container-fluid">
    <div class="row border rounded m-t-10 " id="@Model.Id">
    <header class="col-xs-12 rounded  @ZbgColor border-bottom">
        <div class="col-md-4 col-xs-12 text-md-right text-xs-center">
            <span class="tag tag-striped p-r-1 p-l-1 fs-11" title="تاریخ ثبت">@Model.RegDate.ToShamsiWithTime()</span>            
            @if (Model.SenderNC == User.Identity.Name)
            {
                @if (Model.SenderNC == "0000000000")
                {
                    <span class="tag tag-success fs-11 tag-pill">@readers.Count()</span>
                    <span class="fs-11"> نفر از </span>
                    <span class="tag tag-info fs-11 tag-pill">@receps.Count()</span>
                    <span class="fs-11"> نفر خوانده</span>
                }
                else
                {
                    if (readers.Any(a => a.Substring(0, a.IndexOf("-")) == "0000000000"))
                    {
                        string rdr = readers.FirstOrDefault(f => f.Substring(0, f.IndexOf("-")) == "0000000000");
                        DateTime? dateTime = null;
                        string[] row = rdr.Split("-");
                        dateTime = DateTime.Parse(row[1].ToString());
                        <span class="tag tag-success p-r-1 p-l-1 fs-11" title="تاریخ خوانده شدن">خوانده شده در @dateTime?.ToShamsiWithTime() </span>
                    }
                    else
                    {
                        <span class="tag tag-danger p-r-1 p-l-1 fs-11"> خوانده نشده </span>
                    }
                }
            }
        </div>
        <div class="col-md-4 col-xs-12 text-xs-center">
            @if (Model.Parent != null)
            {
                <span class="fs-12">@Model.Parent.Subject</span>
                <span> | </span>
                <span class="fs-10 text-white">پاسخ</span>
            }
            else
            {
                <span class="fs-12">@Model.Subject</span>
                <span> | </span>
                <span class="fs-10 text-white">اصلی</span>
            }
        </div>
        <div class="col-md-4 col-xs-12 text-md-left text-xs-center" id="div3">
            @if (Model.SenderNC == User.Identity.Name)
            {
                @if (Model.Parent != null)
                {
                    <div class="btn-group btn-group-sm fs-11" role="group" aria-label="Basic example">
                        @if (!readers.Any(a => a.Substring(0, a.IndexOf("-")) == "0000000000"))
                        {
                            <button type="button" class="btn btn-secondary btn-zRemove" data-id="@Model.Id" data-toggle="tooltip" title="حذف"><span class="fa fa-remove text-danger"></span></button>
                            <button type="button" class="btn btn-secondary" data-id="@Model.Id" data-toggle="tooltip" title="ویرایش"><span class="fa fa-edit text-info"></span></button>
                        }
                    </div>
                }
            }
            else
            {
                if (User.Identity.Name == "0000000000")
                {
                    @if (Model.SenderNC != "0000000000")
                    {
                        @if (IsVis == true)
                        {
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" title="افزودن جواب"><span class="fa fa-plus-circle text-success"></span></button>
                        }

                    }

                }
            }
            @if (IsVis == false)
            {
                @if (Model.SenderNC != User.Identity.Name)
                {
                    <a href="javascript:void(0)" class="fs-11 bg-primary white p-r-2 p-l-2 rounded WantToRead" data-id="@Model.Id">مشاهده پیام</a>
                }
            }
        </div>
    </header>
    @{
        string DivConvId = "mess" + Model.Id.ToString();
    }
    <div class="col-xs-12 @vis" id="@DivConvId">
        @foreach (var item in Model.MessagesList)
        {
            <p>@item</p>
        }
    </div>
    <footer class="col-xs-12 p-l-5">
        <span class="float-xs-left fs-11 text-muted">@Model.SenderFullName</span>
    </footer>
</div>
</div>
