@model IEnumerable<DataLayer.Entities.InsPolicy.FinancialStatus>

@{
    ViewData["Title"] = "وضعیت مالی";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">وضعیت مالی</h1>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت وضعیت</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsEndofProcess)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsSystemic)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.GetAmount)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Comment)
            </th>

            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsEndofProcess)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsDefault)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsSystemic)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.GetAmount)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>

                <td class="text-xs-center align-middle">
                    @if (!item.IsSystemic)
                    {
                       <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
