@model IEnumerable<DataLayer.Entities.InsPolicy.Life.PaymentMethod>
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "روش های پرداخت";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">روش های پرداخت</h1>
@if (_userService.CheckPermissionByName("addlpm",User.Identity.Name))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت روش پرداخت</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.NumberofInstallments)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.NumberofInstallments)
                </td>
                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("editlpm",User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if (_userService.CheckPermissionByName("editlpm", User.Identity.Name))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="/UsersPanel/Manage/LifeIns">بازگشت</a>
</div>