@model DataLayer.Entities.InsPolicy.InsStatus

@{
    ViewData["Title"] = "حذف وضعیت";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">حذف وضعیت</h1>

<h3>آیا مطمئن به حذف وضعیت هستید ؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEndofProcess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEndofProcess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
