@model DataLayer.Entities.InsPolicy.Fire.FireBaseInfo

@{
    ViewData["Title"] = "حذف اطلاعات بیمه زندگی";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف اطلاعات بیمه زندگی</h1>

<h3 class="text-xs-center text-warning">آیا مطمئن به حــذف اطلاعات بیمه زندگی هستید؟</h3>
<div class="container-fluid">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StolenRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StolenRate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PressureTankRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PressureTankRate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GlassRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GlassRate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="حــذف" class="btn btn-danger" /> |
            <a asp-action="Index">بازگشــت</a>
        </form>
    </div>
</div>

