@model IEnumerable<DataLayer.Entities.Supplementary.WorkWith>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "همکاری با ما";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">همکاری با ما</h1>
@if (_userService.CheckPermissionByName("addww",User.Identity.Name))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت همکاری با ما</a>
    </p>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.PageMessage)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.SaveMessage)
            </th>
            
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.Raw(item.PageMessage)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.Raw(item.SaveMessage)
                </td>
               
                <td class="text-xs-center align-middle">
                    @if (item.IsActive)
                    {
                        <span class="fa fa-check-square cursor-pointer chk" data-id="@item.Id" data-status="0"></span>
                    }
                    else
                    {
                        <span class="fa fa-square-o cursor-pointer chk" data-id="@item.Id" data-status="1"></span>
                    }
                </td>
                <td class="text-xs-center align-middle">
                    @item.RegDate.ToShamsiN_WithTime()
                </td>
                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("editww",User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if (_userService.CheckPermissionByName("deleteww", User.Identity.Name))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chk").click(function () {
                if (confirm("آیا مطمئن به تغییر وضعیت همکاری با ما هستید؟")) {
                    var idd = $(this).attr("data-id");
                    var st = $(this).attr("data-status");
                    var th = $(this);
                    $.ajax({
                        url: "/UsersPanel/WorkWiths/ChangeStatus",
                        data: { id: idd, status: st },
                        type: "GET",
                        success: function (result) {
                            if (result === true) {
                                th.removeClass("fa-square-o").addClass("fa-check-square");
                                th.attr("data-status", 0);
                            }
                            else {

                                th.removeClass("fa-check-square").addClass("fa-square-o");
                                th.attr("data-status", 1);
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    })
                }

            });
        });
    </script>
}