@model IEnumerable<DataLayer.Entities.InsPolicy.ThirdParty.LegalDiscount>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "تخفیفات و اضافات قانونی";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">تخفیفات و اضافات قانونی</h1>
@if (_userService.CheckPermissionByName("addld",User.Identity.Name))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت تخفیف</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td class="text-xs-center align-middle">
                    @if (item.Type == "dis")
                    {
                        <span>تخفیف</span>
                    }
                    @if (item.Type == "add")
                    {
                        <span>اضافه نرخ</span>
                    }
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td class="text-xs-center align-middle">
                    @item.RegDate.ToShamsiN()
                </td>
                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("editld",User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if (_userService.CheckPermissionByName("deleteld", User.Identity.Name))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
