@model IEnumerable<DataLayer.Entities.InsPolicy.ThirdParty.FinancialDamage>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "جریمه خسارت مالی";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جریمه خسارت مالی</h1>
@if (_userService.CheckPermissionByName("addfd", User.Identity.Name))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت جریمه</a>
    </p>
}

<table class="table table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.DamageCount)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.DamagePercent)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.DamageCount)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.DamagePercent)
                </td>
                <td class="text-xs-center align-middle">
                    @item.RegDate.ToShamsiN()
                </td>
                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("editfd", User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if (_userService.CheckPermissionByName("deletefd", User.Identity.Name))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
