@model Core.DTOs.Admin.UploadViewModel
@{
    ViewData["Title"] = "آپلود فایل بیمه";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">آپلود فایل بیمه</h1>
<div class="container-fluid">
    <div class="row">
        <form asp-action="Create" class="offset-md-4 col-md-4 col-xs-12" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <h4 class="text-xs-center alert alert-warning">@Model.Message</h4>
            }
            <div class="form-group">
                <div class="col-xs-6">
                    <label asp-for="Mounth" class="control-label"></label>
                    <select asp-for="Mounth" name="Mounth" class="form-control">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" name="Year" class="form-control">
                        @for (int i = 1401; i < 1450; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Mounth" class="text-danger m-t-5"></span>
                <span asp-validation-for="Year" class="text-danger m-t-5"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" name="Type" class="form-control">
                    <option value="">نوع فایل را انتخاب کنید</option>
                    <option value="colcom">کارمزد وصول</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group text-xs-center">
                <button type="button" class="btn btn-danger" id="btnCheckState">بررسی وضعیت</button>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <select asp-for="Action" name="action" class="form-control">
                    <option value="">نوع عملیات را انتخاب کنید</option>
                    <option value="save">ذخیره</option>
                    <option value="edit">جایگزینی</option>
                </select>
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" id="File" accept=".xlsx" asp-for="File" class="form-control" />
                <span id="statusFile" dir="ltr" class="m-t-5 m-b-10"></span>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary col-xs-12 " />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() {
            var arr = ["xlsx"];
            function GetFileExtension(fid) {
                var ext = $("#" + fid).val().split('.').pop();
                return ext;
            };
            function GetFileVolume(fid) {
                var f = $("#" + fid)[0].files[0].size;
                return f;
            };
            function checkExtention(fid) {
                var ext = $("#" + fid).val().split('.').pop();
                var status = arr.includes(ext);
                return status;
            };

            $('input[type="file"]').change(function(e) {
                //e.stopImmediatePropagation();
                var file = $(this).val()
                var ex = GetFileExtension("File");

                ex = "<span class='tag tag-info'>" + ex + "</span>";
                var ch = checkExtention("File");

                if (ch === false) {
                    $('input[type="submit"]').attr("disabled", "disabled");
                    $(".upl").remove();
                    $("#statusFile").empty();
                    alert("لطفا فایل اکسل انتخاب کنید !");

                }
                else {
                    $('input[type="submit"]').removeAttr("disabled");
                    var v = GetFileVolume("File");
                    v = parseInt(v);
                    var _size = 0;
                    if (v < 1048756) {
                        _size = Math.floor(v / 1024) + ' kb';
                    } else {
                        _size = Math.floor(v / 1048756) + ' mb';
                    }
                    var resv = "<span class='tag tag-warning mt-1' dir='ltr'>" + _size + "</span>";
                    var res = "<span class='tag tag-danger'>غیرقابل قبول</span>";
                    $("#File").after(resv);
                    //$("#statusFile").text(_size);
                }

            });
            $("#btnCheckState").click(function() {

                var m = $('#Mounth').val();
                var y = $("#Year").val();
                var tp = $('#Type :selected').val();
                if (tp === "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطا',
                        text: 'لطفا نوع فایل را انتخاب کنید !',
                    });
                    return;
                }

                $.ajax({
                    url: "/UsersPanel/UploadDocs/StatusCheck",
                    data: { Mounth: m, Year: y, PType: tp },
                    type: "GET",
                    dataType: 'json',
                    success: function(result) {
                        Swal.fire({
                            icon: 'success',
                            title: result.message,
                            width: "50%",
                            showCancelButton: true,
                            showConfirmButton: false,
                            cancelButtonText: "متوجه شدم"
                        })
                    }
                });

            });
            //btnViewFile
            $("#File").change(function() {
                
            });
        });
    </script>
}

