@model DataLayer.Entities.InsPolicy.ThirdParty.ThirdParty
@using Core.Services.Interfaces;
@using Core.Convertors;
@inject IGenericInsService _genericInsService
<section class="container">
    <div class="row">
        <div class="col-xs-12 ">

            <h4 class="text-xs-center alert alert-success">وضعیت</h4>
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h6 class="text-xs-center border-bottom"><span class="text-primary">کارشناس فروش</span></h6>
                    @{ 
                        DataLayer.Entities.User.User seller = await _genericInsService.GetUserBySalesExCodeAsync(Model.SellerCode);
                    }
                    <p>نام : @seller?.FullName</p>
                    <p>تلفن : @seller?.Cellphone</p>
                    <p>کد : @Model.SellerCode</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center">

                    @{
                        string state = "فرد عادی";
                        if (Model.InsurerStatus == "retired")
                        {
                            state = "بازنشته کشوری یا تامین اجتماعی";
                        }
                        if (Model.InsurerStatus == "related")
                        {
                            state = "منتسب بازنشسته";
                        }
                    }
                    <h6 class="text-xs-center border-bottom"><span class="text-primary">بیمه گذار</span></h6>
                    <p>نام : @Model.InsurerName @Model.InsurerFamily</p>
                    <p>تلفن : @Model.InsurerCellphone</p>
                    <span class="w-100">تصویر کارت ملی</span>
                    <div class="w-100 text-xs-center mb-2">
                        <img class="rounded mx-auto" width="50" height="50" src="/images/Ins/tp/@Model.InsurerNCImage" />
                    </div>
                    <p class="mt-2">وضعیت : @state</p>
                    @if (Model.HasInstallmentRequest)
                    {
                        <p>پرداخت به صورت اقساط : بله</p>
                        <div class="w-100 text-xs-center">تصویر رضایت کسر از حقوق</div>
                        <div class="w-100 text-xs-center">
                            <img class="rounded mx-auto" width="50" height="50" src="/images/Ins/tp/@Model.PayrollDeductionImage" />
                        </div>

                    }
                    else
                    {
                        <p>پرداخت به صورت اقساط : خیر</p>
                    }
                    @if (Model.InsurerStatus == "related")
                    {
                        <div class="w-100 text-xs-center">تصویر معرفی نامه منتسب</div>
                        <div class="w-100 text-xs-center">
                            <img width="50" height="50" src="/images/Ins/tp/@Model.AttributedLetterImage" />
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <h4 class="text-xs-center alert alert-success">مدارک</h4>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر فرم پیشنهاد</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.SuggestionFormImage" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر بیمه نامه قبلی</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.PrevInsPolicyImage" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر روی کارت خودرو</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.CarCardFrontImage" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر پشت کارت خودرو</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.CarCardBackImage" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر روی گواهینامه</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.DrivingPermitFrontImage" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-1">
                            <div class="col-xs-12 text-xs-center">تصویر پشت گواهینامه</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.DrivingPermitBackImage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 mt-1">
                <div class="row">
                    <h4 class="text-xs-center alert alert-success">سوابق</h4>
                    <div class="col-xs-12">
                        @if (Model.LicensePlateChanged)
                        {
                            <p>آیا پلاک خودرو نسبت به بیمه نامه سال قبل تغییر کرده است؟ بله</p>
                            <div class="col-xs-12 text-xs-center">تصویر کارت سبز خودرو</div>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.CarGreenPaperImage" />
                            </div>
                        }
                        else
                        {
                            <p>آیا پلاک خودرو نسبت به بیمه نامه سال قبل تغییر کرده است؟ خیر</p>
                        }
                        @if (Model.ExistPrevInsurancePolicy)
                        {
                            <p>آیا بیمه نامه ای از قبل برای انتقال تخفیف به بیمه نامه جدید دارید؟ بله</p>
                            <p class="text-xs-center">تصویر بیمه نامه قبلی</p>
                            <div class="col-xs-12 text-xs-center">
                                <img width="50" height="50" src="/images/Ins/tp/@Model.PrevInsurancePolicyImage" />
                            </div>
                        }
                        else
                        {
                            <p>آیا بیمه نامه ای از قبل برای انتقال تخفیف به بیمه نامه جدید دارید؟ خیر</p>
                        }

                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt-1">
                <div class="row">
                    <h4 class="text-xs-center alert alert-success">عملیات</h4>
                    <button id="btnState" data-trcode="@Model.TraceCode" class="btn btn-primary mb-1">ثبت وضعیت</button>
                    <div id="divForm" class="col-xs-12 mb-1"></div>
                    <div id="divStatus" class="col-xs-12">
                        <partial name="ShowThirdPartyStatus" model="@new{tpId = Model }" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed;bottom :10mm;left:2mm">
        <a asp-action="RegisterdsIns" class="btn btn-danger"><span>&lArr;</span></a>
    </div>
</section>
