@model IEnumerable<DataLayer.Entities.InsPolicy.Travel.TravelInsCo>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "بیمه گر";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">بیمه گرهای بیمه مسافرتی</h1>
@if (_userService.CheckPermissionByName("addtico",User.Identity.Name))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت بیمه گر</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Title)
            </th> 
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th> 
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RegDate)
            </th> 
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle p-0">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-xs-center align-middle p-0">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-xs-center align-middle p-0">
                    @item.RegDate.ToShamsiN()
                </td>

                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("edittico",User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if (_userService.CheckPermissionByName("deletetico", User.Identity.Name))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
