@model DataLayer.Entities.Blogs.Blog

@{
    ViewData["Title"] = "حذف پست";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حــذف پست</h1>

<h3>آیا مطمئن به حذف پست هستید؟</h3>
<div class="container-fluid">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogDate)
        </dd>
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPageTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogPageTitle)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogSummary)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlogId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
