@model Core.DTOs.Admin.AddPaymentToPlanVM
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
    bool ExistAll = false;
    ExistAll = Model.PaymentMethods.Select(x => x.Id).All(x => Model.SelectedPayments.Contains(x));


}
<h1 class="text-xs-center alert alert-info">@Model.Title <span class="tag tag-square tag-warning">@Model.SelectedPayments.Count()</span> عدد</h1>

<div id="wrapper">
    <ul class="list-unstyled p-r-5">
        <li class="mr-2">
            <input type="checkbox" checked="@ExistAll" name="all" id="all" />
            <label for="all">همه</label>
            <form method="post">
                <ul class="list-unstyled">

                    @foreach (var per1 in Model.PaymentMethods.ToList())
                    {
                        string inpId1 = "title1_" + per1.Id.ToString();

                        <li class="mr-1">
                            <input type="checkbox" name="SelectedPayments" value="@per1.Id" class="chktitle" id="@inpId1" @((Model.SelectedPayments.Any(a => a == per1.Id) ? "checked" : "")) />
                            <label for="@inpId1">@per1.Title</label>
                        </li>
                    }
                </ul>

                <div class="form-group">
                    <input type="hidden" asp-for="PlanId" />
                    <input type="submit" value="ثــبت" class="btn btn-success" />                    
                </div>
            </form>

        </li>
    </ul>
</div>
<div>
    <a asp-action="Index">بازگشت</a>
</div>
@section Scripts
{
    <script type="text/javascript">
        document.getElementById('all').onclick = function () {
            var checkboxes = document.getElementsByName('SelectedPayments');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }

    </script>

}