@model Core.DTOs.Admin.InsDetailsVM
@using Core.Services.Interfaces;
@using Core.Convertors;
@inject IGenericInsService _genericInsService
@{
    ViewData["Title"] = "جزئیات بیمه شخص ثالث";
}
<style>
    .colored-toast .swal2-html-container {
        color: white;
    }
</style>

<div class="container-fluid">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            @{
                string title = "جزئیات درخواست بیمه شخص ثالث " + " | کد پیگیری : " + Model.ThirdParty.TraceCode + " | شماره بیمه نامه : " + Model.ThirdParty.IssuedInsNo + " | حق بیمه: " + Model.ThirdParty.Premium.GetValueOrDefault().ToString("N0") + " تومان";
            }
            <h4 class="text-xs-right pt-1 pb-1">
                @title
                @if (Model.ThirdParty.Canceled)
                {
                    <span class="bg bg-danger text-white pr-1 pl-1 rounded mr-1">انصراف</span>
                }
            </h4>
        </div>
        <div class="col-xs-2 text-xs-left">
            @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("دانلود مدارک"), User.Identity.Name))
            {
                <form method="post" class="d-inline-block" asp-action="DownloadZipDouments" asp-controller="Reports" asp-area="UsersPanel">
                    <input type="hidden" name="insId" value="@Model.ThirdParty.Id" />
                    <input type="hidden" name="type" value="tp" />
                    <button type="submit" class="btn btn-primary rounded"><span class="fa fa-download" title="دانلود مدارک"></span></button>
                    <p class="p-0 m-0 text-xs-center">دانلود مدارک</p>
                </form>
            }
        </div>
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="hidden" id="tpartyid" value="@Model.ThirdParty.Id" />
            <div class="row">
                <div class="col-xs-12 alert alert-success">
                    <div class="row">
                        <div class="col-md-2 col-xs">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <h4 class="text-xs-center ">
                                مشخصات
                            </h4>
                        </div>
                        @if (await _genericInsService.CheckInsIssuedAsync(Model.ThirdParty.Id, "tp") == false)
                        {
                            @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("ویرایش"), User.Identity.Name))
                            {
                                <div class="col-md-2 col-xs">
                                    <a class="float-lg-left font-medium-1" id="btnUpdate_tp_state" data-insid="@Model.ThirdParty.Id" data-insissueno="@Model.ThirdParty.IssuedInsNo" href="javascript:void(0)">ویرایش</a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <section class="col-xs-12  text-xs-center" id="tpProSection">
                    @{
                        DataLayer.Entities.User.User seller = await _genericInsService.GetUserBySalesExCodeAsync(Model.ThirdParty.SellerCode);
                    }
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-xs-center border-bottom"><span class="text-primary">کارشناس فروش</span></h6>
                            <div class="row">
                                <p class="col-md-4 col-xs-12">نام : @seller?.FullName</p>
                                <p class="col-md-4 col-xs-12">تلفن : @seller?.Cellphone</p>
                                <p class="col-md-4 col-xs-12">کد : @Model.ThirdParty.SellerCode</p>
                            </div>
                        </div>
                        @{
                            string state = "فرد عادی";
                            if (Model.ThirdParty.InsurerStatus == "retired")
                            {
                                state = "بازنشته کشوری یا تامین اجتماعی";
                            }
                            if (Model.ThirdParty.InsurerStatus == "related")
                            {
                                state = "منتسب بازنشسته";
                            }
                        }
                        <div class="col-xs-12">
                            <h6 class="text-xs-center border-bottom"><span class="text-primary">بیمه گذار</span></h6>
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <p>نام : @Model.ThirdParty.InsurerName @Model.ThirdParty.InsurerFamily</p>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <p>تلفن : @Model.ThirdParty.InsurerCellphone</p>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <p>وضعیت : @state</p>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    @if (Model.ThirdParty.HasInstallmentRequest)
                                    {
                                        <p>پرداخت به صورت اقساط : بله</p>
                                    }
                                    else
                                    {
                                        <p>پرداخت به صورت اقساط : خیر</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    @if (Model.ThirdParty.HasInstallmentRequest)
                                    {
                                        <div class="w-100 text-xs-center">تصویر رضایت کسر از حقوق</div>
                                        <div class="w-100 text-xs-center mb-2">
                                            <a href="/images/Ins/tp/@Model.ThirdParty.PayrollDeductionImage"><img class="rounded mx-auto zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.PayrollDeductionImage" /></a>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <span class="w-100">تصویر کارت ملی</span>
                                    <div class="w-100 text-xs-center mb-2 ">
                                        <a href="/images/Ins/tp/@Model.ThirdParty.InsurerNCImage"><img class="rounded mx-auto zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.InsurerNCImage" /></a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    @if (Model.ThirdParty.InsurerStatus == "related")
                                    {
                                        <div class="w-100 text-xs-center">تصویر معرفی نامه منتسب</div>
                                        <div class="w-100 text-xs-center">
                                            <a href="/images/Ins/tp/@Model.ThirdParty.AttributedLetterImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.AttributedLetterImage" /></a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-xs-12 alert alert-success">
                            <div class="row">
                                <div class="col-md-2 col-xs">
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <h4 class="text-xs-center ">
                                        مدارک
                                    </h4>
                                </div>
                                @if (await _genericInsService.CheckInsIssuedAsync(Model.ThirdParty.Id, "tp") == false)
                                {
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("ویرایش"), User.Identity.Name))
                                    {
                                        <div class="col-md-2 col-xs">
                                            <a class="float-lg-left font-medium-1" id="btnUpdate_tp_docs" data-insid="@Model.ThirdParty.Id" data-insissueno="@Model.ThirdParty.IssuedInsNo" href="javascript:void(0)">ویرایش</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <section id="tpDocsSection">
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر فرم پیشنهاد</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.SuggestionFormImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.SuggestionFormImage" /></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر بیمه نامه قبلی</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.PrevInsPolicyImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.PrevInsPolicyImage" /></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر روی کارت خودرو</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.CarCardFrontImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.CarCardFrontImage" /></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر پشت کارت خودرو</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.CarCardBackImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.CarCardBackImage" /></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر روی گواهینامه</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.DrivingPermitFrontImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.DrivingPermitFrontImage" /></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 mb-1">
                                <div class="col-xs-12 text-xs-center">تصویر پشت گواهینامه</div>
                                <div class="col-xs-12 text-xs-center">
                                    <a href="/images/Ins/tp/@Model.ThirdParty.DrivingPermitBackImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.DrivingPermitBackImage" /></a>
                                </div>
                            </div>
                        </section>
                        @{
                            bool hasUserUp = false;
                            if (Model.ThirdParty.ThirdPartySupplements.Where(w => !string.IsNullOrEmpty(w.Message) && w.Message.Contains("fu")).Any())
                            {
                                hasUserUp = true;
                            }
                        }
                        @if (hasUserUp)
                        {
                            <div class="col-lg-12">
                                <h5 class="text-xs-center text-danger">فایلهای آپلود شده جدید </h5>
                                <table class="table table-bordered font-small-2">
                                    <thead>
                                        <tr>
                                            <th class="text-xs-center align-middle p-0 width-50">#</th>
                                            <th class="text-xs-center align-middle p-0 width-10-per">عنوان</th>
                                            <th class="text-xs-center align-middle p-0 width-15-per">تاریخ</th>
                                            <th class="text-xs-center align-middle p-0 width-10-per">توسط</th>
                                            <th class="text-xs-center align-middle p-0 width-10-per">فایل</th>
                                            <th class="text-xs-center align-middle p-0 ">پیام</th>
                                            <th class="text-xs-center align-middle p-0">دانلود</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rad = 1;
                                        }
                                        @foreach (var item in Model.ThirdParty.ThirdPartySupplements.Where(w => !string.IsNullOrEmpty(w.Message) && w.Message.Contains("fu")).OrderByDescending(x => x.RegDate).ToList())
                                        {
                                            <tr>
                                                <td class="text-xs-center align-middle p-0">@rad</td>
                                                <td class="text-xs-center align-middle p-0">@item.Title</td>
                                                <td class="text-xs-center align-middle p-0">@item.RegDate.ToShamsiN()</td>
                                                <td class="text-xs-center align-middle p-0">
                                                    @{
                                                        var user = await _genericInsService.GetUserByNameAsync(item.UserName);
                                                        string userFullName = user?.FullName ?? "-";
                                                    }
                                                    @userFullName
                                                </td>
                                                <td class="text-xs-center align-middle p-0">
                                                    @if (!string.IsNullOrEmpty(item.File))
                                                    {
                                                        @if (Core.Utility.Applications.IsImage(item.File))
                                                        {
                                                            <img src="~/Supp/tp/@item.File" class="rounded mx-auto zoom" with=50 height=50>
                                                        }
                                                        @if (item.File.EndsWith(".pdf"))
                                                        {
                                                            <img src="~/images/Svg/pdf.svg" width=50 height=50>
                                                        }
                                                    }

                                                </td>
                                                <td class="text-xs-center align-middle">
                                                    @foreach (string ml in item.MessageLines)
                                                    {
                                                        if (ml != item.MessageLines.LastOrDefault())
                                                        {
                                                            <span class="w-100">@ml.Replace("fu"," ")</span>

                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            <span class="w-100">@ml.Replace("fu"," ")</span>
                                                        }

                                                    }
                                                </td>
                                                <td class="text-xs-center align-middle">
                                                    <form asp-area="UsersPanel" asp-controller="Reports" asp-action="DownloadFile" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="filename" value="@item.File">
                                                        <input type="hidden" name="insType" value="tp">
                                                        <button type="submit" title="دانلود" class="text-success cursor-pointer font-size-large"><span class="icon-download"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            rad++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-xs-12 alert alert-success">
                            <div class="row">
                                <div class="col-md-2 col-xs">
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <h4 class="text-xs-center ">
                                        سوابق
                                    </h4>
                                </div>
                                @if (await _genericInsService.CheckInsIssuedAsync(Model.ThirdParty.Id, "tp") == false)
                                {
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("ویرایش"), User.Identity.Name))
                                    {
                                        <div class="col-md-2 col-xs">
                                            <a class="float-lg-left font-medium-1" id="btnUpdate_tp_history" data-insid="@Model.ThirdParty.Id" data-insissueno="@Model.ThirdParty.IssuedInsNo" href="javascript:void(0)">ویرایش</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <section id="tpHistorySection">
                            <div class="col-xs-12 mb-1">کیلومتر کارکرد : @Model.ThirdParty.VehicleOperationKilometers.GetValueOrDefault().ToString("N0")</div>
                            @if (Model.ThirdParty.LicensePlateChanged)
                            {
                                <div class="col-md-6 col-xs-12 ">آیا پلاک خودرو نسبت به بیمه نامه سال قبل تغییر کرده است؟ بله</div>
                                <div class="col-md-6 col-xs-12 text-xs-center mb-1">
                                    <div class="row">
                                        <p class="text-xs-center">تصویر کارت سبز خودرو</p>
                                        <div class="col-xs-12 text-xs-center">
                                            <a href="/images/Ins/tp/@Model.ThirdParty.CarGreenPaperImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.CarGreenPaperImage" /></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12">آیا پلاک خودرو نسبت به بیمه نامه سال قبل تغییر کرده است؟ خیر</div>
                            }
                            @if (Model.ThirdParty.ExistPrevInsurancePolicy)
                            {
                                <div class="col-md-6 col-xs-12">آیا بیمه نامه ای از قبل برای انتقال تخفیف به بیمه نامه جدید دارید؟ بله</div>
                                <div class="col-md-6 col-xs-12 text-xs-center mb-1">
                                    <div class="row">
                                        <p class="text-xs-center">تصویر بیمه نامه انتقالی</p>
                                        <div class="col-xs-12 text-xs-center">
                                            <a href="/images/Ins/tp/@Model.ThirdParty.PrevInsurancePolicyImage"><img class="rounded zoom" width="50" height="50" src="/images/Ins/tp/@Model.ThirdParty.PrevInsurancePolicyImage" /></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12">آیا بیمه نامه ای از قبل برای انتقال تخفیف به بیمه نامه جدید دارید؟ خیر</div>
                            }
                        </section>
                    </div>
                </div>
                <div class="col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-xs-12 alert alert-success">
                            <div class="row">
                                <div class="col-md-2 col-xs-3"></div>
                                <div class="col-md-8 col-xs-6">
                                    <h4 class="text-xs-right text-md-center">
                                        وضعیت مالی
                                    </h4>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("ثبت وضعیت مالی"), User.Identity.Name))
                                    {
                                        <button data-insid="@Model.ThirdParty.Id" data-instype="tp" data-refreshid="FindivStatus" data-loc="@Model.Location" class="btn btn-primary float-xs-left FinbtnInsertState">ثبت وضعیت </button>
                                    }

                                </div>
                            </div>
                        </div>
                        <div id="FindivStatus" class="col-xs-12 table-responsive">
                            <div id="FindivStatus_life" class="col-xs-12 table-responsive">
                                @{
                                    Core.DTOs.Admin.ShowFinancialStatusesVM showFinancialStatusesVM = await _genericInsService.PreparationDataForShowAnyInsIssuedFinancialStatusesAsync(Model.ThirdParty.Id, "tp", "FindivStatus_life", "false", User.Identity.Name);
                                    showFinancialStatusesVM.Location = Model.Location;
                                    showFinancialStatusesVM.PermissionNames = Model.PermissinKeys;
                                }
                                <partial name="ShowInsFinanceStatus" model="@showFinancialStatusesVM" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-xs-12 alert alert-success">
                            <div class="row">
                                <div class="col-md-2 col-xs-3">
                                    @if (string.IsNullOrEmpty(Model.ThirdParty.IssuedInsNo))
                                    {
                                        @if (!Model.ThirdParty.Canceled)
                                        {
                                            <button data-insid="@Model.ThirdParty.Id" data-instype="tp" data-refreshid="divStatus" data-loc="@Model.Location" class="btn btn-danger float-xs-right" id="btnCanceled">اعلام انصراف</button>
                                        }
                                    }

                                    @if (Model.ThirdParty.Canceled)
                                    {
                                        <span class="text-danger">انصراف داده شده است !</span>
                                    }
                                </div>
                                <div class="col-md-8 col-xs-6">
                                    <h4 class="text-xs-right text-md-center">وضعیت صدور</h4>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("ثبت وضعیت صدور"), User.Identity.Name))
                                    {
                                        <button data-insid="@Model.ThirdParty.Id" data-instype="tp" data-refreshid="divStatus" data-loc="@Model.Location" class="btn btn-primary float-xs-left btnInsertState">ثبت وضعیت</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="divStatus" class="col-xs-12 table-responsive">
                            @{
                                Core.DTOs.Admin.ShowInsStatusesVM showInsStatusesVM = await _genericInsService.PreparationDataForShowAnyInsIssuedStatus(Model.ThirdParty.Id, "tp", "divStatus", "false", User.Identity.Name);
                                showInsStatusesVM.Location = Model.Location;
                                showInsStatusesVM.PermissionNames = Model.PermissinKeys;
                            }
                            <partial name="ShowInsStatuses" model="@showInsStatusesVM" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-xs-12 alert alert-success">
                            <div class="row">
                                <div class="col-md-3 col-xs-4"></div>
                                <div class="col-md-6 col-xs-4">
                                    <h4 class="text-xs-right text-md-center">بیمه نامه</h4>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("پیوست فایل"), User.Identity.Name))
                                    {
                                        <button data-insid="@Model.ThirdParty.Id" data-refreshid="divSupp" data-instype="tp" data-loc="@Model.Location" class="btn btn-primary float-xs-left btnInsertSupp">پیوست فایل</button>
                                    }
                                    @if (_genericInsService.CheckPermissionByName(Model.PermissinKeys.GetValueOrDefault("دانلود تمام فایلهای پیوست شده"), User.Identity.Name))
                                    {
                                        @if (Model.ThirdParty.ThirdPartySupplements.Any(z => string.IsNullOrEmpty(z.Message) || (!string.IsNullOrEmpty(z.Message) && !z.Message.Contains("fu"))))
                                        {
                                            <form method="post" class="d-inline-block" asp-action="DownloadZipSupps" asp-controller="Reports" asp-area="UsersPanel">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="insId" value="@Model.ThirdParty.Id" />
                                                <input type="hidden" name="type" value="tp" />
                                                <button type="submit" class="btn btn-warning rounded">دانلود پیوست ها</button>
                                            </form>
                                        }
                                    }


                                </div>
                            </div>
                        </div>
                        <div id="divSupp" class="col-xs-12 table-responsive mt-2">
                            @{
                                Core.DTOs.Admin.ShowInsuranceSupplementsData showInsuranceSupplementsData = await _genericInsService.PreparationDataForShowInsSupplementsAsync(Model.ThirdParty.Id, "tp", "divSupp", "false", User.Identity.Name);
                                showInsuranceSupplementsData.Location = Model.Location;
                                showInsuranceSupplementsData.PermissionNames = Model.PermissinKeys;

                            }
                            <partial name="ShowInsSupplements" model="@showInsuranceSupplementsData" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="position:fixed;bottom :10mm;left:2mm">
        @if (!string.IsNullOrEmpty(Model.ThirdParty.IssuedInsNo))
        {
            @if (User.Identity.Name == "0000000000")
            {
                <a asp-action="RegisterdsIns" class="btn btn-danger"><span>&lArr;</span></a>
            }
            else
            {
                <a asp-action="MyRegisterdsIns" class="btn btn-danger"><span>&lArr;</span></a>
            }
        }
        else
        {

            @if (User.Identity.Name == "0000000000")
            {
                <a asp-action="RegisterdReqs" class="btn btn-danger"><span>&lArr;</span></a>
            }
            else
            {
                <a asp-action="MyRegisterdReqs" class="btn btn-danger"><span>&lArr;</span></a>
            }
        }
    </div>
</section>

@section Scripts {
    <script src="~/AdminLayout/app-assets/js/scripts/InsDetails.js"></script>
    <script>
        $(document).on("click", "#btnUpdate_tp_state", function () {
            var id = $(this).attr("data-insid");
            var insissueno = $(this).attr("data-insissueno");
            $.ajax({
                async: true,
                url: "/UsersPanel/UpdateThirdPartyIns/UpdatetpInsProSection",
                data: { guid: id },
                type: "GET",
            }).done(function (result) {
                $("#adminmodal #modal-dialog").addClass("modal-lg");
                $("#adminmodal .modal-body").html(result);
                var html = "<h4 class='text-xs-center alert alert-success'>" + "ویرایش قسمت مشخصات درخواست بیمه ثالث با شماره" + " " + insissueno + "</h4>";
                $("#adminmodal .modal-title").html(html);
                $("#close-modal").hide();
                $("#adminmodal").modal('show');
            });
        });
        $(document).on("click", "#btnUpdate_tp_docs", function () {
            var id = $(this).attr("data-insid");
            var insissueno = $(this).attr("data-insissueno");
            $.ajax({
                async: true,
                url: "/UsersPanel/UpdateThirdPartyIns/UpdatetpInsDocsSection",
                data: { guid: id },
                type: "GET",
            }).done(function (result) {
                $("#adminmodal #modal-dialog").addClass("modal-lg");
                $("#adminmodal .modal-body").html(result);
                var html = "<h4 class='text-xs-center alert alert-success'>" + "ویرایش قسمت مدارک درخواست بیمه ثالث با شماره" + " " + insissueno + "</h4>";
                $("#adminmodal .modal-title").html(html);
                $("#close-modal").hide();
                $("#adminmodal").modal('show');
            });
        });
        //btnUpdate_tp_history
        $(document).on("click", "#btnUpdate_tp_history", function () {
            var id = $(this).attr("data-insid");
            var insissueno = $(this).attr("data-insissueno");
            $.ajax({
                async: true,
                url: "/UsersPanel/UpdateThirdPartyIns/UpdatetpInsHistorySection",
                data: { guid: id },
                type: "GET",
            }).done(function (result) {
                $("#adminmodal #modal-dialog").addClass("modal-lg");
                $("#adminmodal .modal-body").html(result);
                var html = "<h4 class='text-xs-center alert alert-success'>" + "ویرایش قسمت سوابق درخواست بیمه ثالث با شماره" + " " + insissueno + "</h4>";
                $("#adminmodal .modal-title").html(html);
                $("#close-modal").hide();
                $("#adminmodal").modal('show');
            });
        });
        $(document).on("click", "#btnCanceled", function () {
            var id = $(this).attr("data-insid");
            var instype = $(this).attr("data-instype");
            if (confirm('آیا مطمئن به لغو درخواست خود هستید ؟')) {
                $.ajax({
                    url: "/UsersPanel/Reports/CancelRequest",
                    data: { insId: id, type: instype },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    type: "POST",

                    async: true,

                }).done(function (result) {
                    if (result == true) {
                        window.location.reload();
                    }
                });
            }

        });
        var loc = window.location.href;
        $("#sloc").val(loc);
    </script>
}